.topBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.75rem;
    padding: 0.7rem max(0.7rem, calc(0.7rem + 50% - 90svh));
    box-sizing: border-box;
    color: #FFF;
    background-color: #25291c;
    box-shadow: 0 -0.4rem 0.4rem 0.4rem #000;
    text-wrap: nowrap;
    z-index: 100;
    transition: background-color 0.3s, box-shadow 0.3s;

    &[data-ontop=true] {
        background-color: rgba(#25291c, 0);
        box-shadow: 0 -0.4rem 0.4rem 0.4rem #0000;
    }

    .content {
        position: relative;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        display: flex;
        gap: min(2rem, 3vw);
        align-items: center;

        a:has(img) {
            display: block;
            height: 100%;
            max-width: 30%;

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                object-position: center;
            }
        }

        .menu {
            margin-left: auto;
            display: flex;

            @media screen and (max-width: 72rem) {
                overflow-x: auto;
                max-width: calc(70% - min(4rem, 6vw) - min(2.37rem, 8vw));
            }

            a {
                width: 4.5em;
                text-align: center;
                padding: 0 0.5rem;
                transition:
                    color 0.3s,
                    width 0.3s,
                    transform 0.3s;

                &:hover {
                    color: #e6e49f;

                    @media screen and (min-width: 72rem) {
                        transform: scale(1.2);
                    }
                }
            }

            @media screen and (min-width: 72rem) {
                a:has(~a:hover) {
                    transform: translateX(-1.5rem);
                }

                a:hover~a {
                    transform: translateX(1.5rem);
                }
            }

        }

        .login {
            color: #25291c;
            background-color: #e6e49f;
            padding: 0 1.25rem;
            height: 90%;
            display: flex;
            align-items: center;
            border-radius: 100vmax;
            box-shadow: 0.1rem 0.1rem 0.2rem -0.1rem #000;
            transition:
                box-shadow 0.3s,
                transform 0.3s;

            &:hover {
                box-shadow: 0.1rem 0.25rem 0.2rem -0.1rem #000;
                transform: translateY(-0.1em);
            }
        }

        .imgBox {
            div {
                height: 100%;
                width: 100%;
                font-size: 2.35rem;
            }
        }
    }

}