.userCard {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    border: 1px solid #FFF;
    border-radius: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0;

    .email,
    .uid {
        display: flex;
        font-size: 1.15rem;
        gap: 1rem;
        width: calc(50% - 0.5rem);

        .value {
            flex: 1;
            text-wrap: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        @media screen and (max-width: 36rem) {
            width: 100%;
        }
    }

    .field {
        display: flex;
        font-size: 1.15rem;
        gap: 1rem;
        width: calc((100% - 2rem) / 3);

        @media screen and (max-width: 56rem) {
            width: calc(50% - 0.5rem);
        }

        @media screen and (max-width: 36rem) {
            width: 100%;
        }

        .value {
            flex: 1;
            text-wrap: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &[data-empty=true] {
                color: #888;
            }

            &[data-verify=true] {
                color: #4CAF50;
            }

            &[data-verify=false] {
                color: #FF3333;
            }

            &.verifyState {
                color: #888;

                &[data-state="1"] {
                    color: #FF8800;
                }

                &[data-state="2"] {
                    color: #22CC22;
                }

                &[data-state="3"] {
                    color: #AA2222;
                }
            }
        }
    }

    .sidArea {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin: 0;
        width: 100%;

        .sidBox {
            width: calc(50% - 0.5rem);

            @media screen and (max-width: 42rem) {
                width: 100%;
            }

            h3 {
                margin: 0;
            }

            .imageContainer {
                position: relative;
                width: 100%;
                overflow: hidden;
                aspect-ratio: 85.60/53.98;
                border-radius: 0.75rem;
                margin: 1rem 0;

                .empty,
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                }

                img {
                    cursor: pointer;
                }

                .empty {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #888;
                    background-color: #333;
                    font-size: 1.5rem;
                }

                img {
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }

    .action {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 0.5rem;

        button {
            outline: none;
            background-color: transparent;
            border: none;
            color: #FFF;
            font-size: 1.15rem;
            cursor: pointer;
            padding: 0.25rem 0.75rem;
            border-radius: 0.25rem;

            &.pass {
                background-color: #4CAF50;
            }

            &.fail {
                background-color: #FF3333;
            }
        }
    }
}

.manage {
    min-height: calc(100svh - 10rem);
    padding: 5rem 0;
    background-color: #222;

    .content {
        width: min(90vw, 54rem);
        margin: auto;

        h1 {
            margin: 0;
        }

        .filter {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            margin: 0.5rem 0;

            :global(.ms) {
                font-size: 1.5rem;
            }

            input {
                width: 0;
                flex: 1;
                background-color: transparent;
                border: none;
                outline: none;
                border-bottom: 1px solid #FFF;
                color: inherit;
                font-size: 1.15rem;
                line-height: 1.5rem;
                height: 1.5rem;
                padding: 0.15rem 0.25rem;
            }
        }

        .pageController {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            margin: 0.5rem 0;

            button {
                outline: none;
                background-color: transparent;
                border: none;
                color: #FFF;
                font-size: 1.5rem;
                cursor: pointer;
                border-radius: 50%;
                height: 2rem;
                width: 2rem;
                line-height: 2rem;
                text-align: center;
                padding: 0;
                transition: background-color 0.2s;

                &:hover {
                    background-color: #333;
                }

                &:disabled {
                    pointer-events: none;
                    color: #888;
                    cursor: initial;
                }
            }
        }
    }
}

.imageBigview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;

    &[data-show=true] {
        opacity: 1;
        pointer-events: all;
    }

    img {
        max-width: 90vw;
        max-height: 90svh;
        object-fit: contain;
        border-radius: 0.5rem;
    }
}